<aside>
  {{!-- <h2>Filtros</h2> --}}
  <h3>Categorías</h3>
  <ul>
    <li>
      <a href="/products">
        <span>Todas las secciones</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Carnes, Pescados y Mariscos">
        <span>Carnes, Pescados y Mariscos</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Frutas y Vegetales">
        <span>Frutas y Vegetales</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Lácteos y Huevos">
        <span>Lácteos y Huevos</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Quesos y Embutidos">
        <span>Quesos y Embutidos</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Panadería y Repostería">
        <span>Panadería y Repostería</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Platos Preparados">
        <span>Platos Preparados</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Congelados">
        <span>Congelados</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Despensa">
        <span>Despensa</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Bebidas">
        <span>Bebidas</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Cervezas, Vinos y Licores">
        <span>Cervezas, Vinos y Licores</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Limpieza y Desechables">
        <span>Limpieza y Desechables</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Salud y Belleza">
        <span>Salud y Belleza</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Bebé">
        <span>Bebé</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Mascotas">
        <span>Mascotas</span>
      </a>
    </li>
    <li>
      <a href="/products/seccion?seccion=Complementos del Hogar">
        <span>Complementos del Hogar</span>
      </a>
    </li>
  </ul>
</aside>