<header class="header-container">
  <a href="/products">InventApp</a>
  <div class="search">
    <input type="text" placeholder="Buscar..." class="search-bar" />
  </div>
  <div class="user-options">
    {{!-- <a href="#">Facturar</a>
    <a href="#">Alberto Ruiz</a> --}}
  </div>
</header>
<nav class="menu">
  <ul>
    {{!-- <li><a href="/">Inicio</a></li> --}}
    <li><a href="/login">Iniciar Sesión</a></li>
    <li><a href="/users">Usuarios</a></li>
    <li><a href="/products">Productos</a></li>
    <li><a href="/products/agregarProducto">Agregar Productos</a></li>
  </ul>
</nav>