<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventapp</title>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/login.css">
</head>

<body class="bg-dark text-light">
  {{> header}}
  <div class="container mt-5">
    {{{body}}}
  </div>
  {{> footer}}
  <!-- Custom JavaScript -->
  <script src="/public/main.js"></script>
</body>

</html>