@import url(/css/main.css);

body {
  font-family: Arial, sans-serif;
  background-color: var(--clr-grey-10);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: var(--clr-white);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--clr-grey-100);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--clr-black);
}

.login-container h2 > span {
  font-weight: 600;
}

.login-container p {
  margin-bottom: 20px;
  color: var(--clr-grey-100);
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--clr-black);
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--clr-grey-25);
  border-radius: 5px;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: var(--clr-tone01-50);
  border: none;
  border-radius: 5px;
  color: var(--clr-white);
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--clr-tone01-100);
}
