@import url(/css/main.css);

.main-container {
  width: 100%;
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
}

.main-container h2 {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
}

.user-management {
  width: min-max(100%);
}

.user-form {
  display: grid;
  grid-template-columns: 200px, repeat(3, min(1fr, 300px));
  grid-template-rows: 200px, repeat(3, 50px);
  grid-column-gap: 8px;
  grid-row-gap: 6px;
  align-items: center;
}

.user-form input {
  border: none;
  font-size: 1rem;
  padding: 6px;
  border-radius: 6px;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.add-user-button {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  background-color: var(--clr-tone01-50);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.add-user-button:hover {
  background-color: var(--clr-tone01-100);
}

.user-management {
  margin-bottom: 24px;
  background-color: var(--clr-grey-10);
  padding: 32px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px var(--clr-grey-50);
}

.user-management input,
.user-management button {
  box-shadow: 2px 2px 6px var(--clr-grey-25);
}

.user-management-imagen {
  align-self: center;
  justify-self: center;
  grid-area: 1 / 1 / 4 / 2;
  width: 200px;
  height: 200px;
  background-color: var(--clr-white);
  border-radius: 6px;
}
.user-management-nombre {
  grid-area: 1 / 2 / 2 / 3;
}
.user-management-apellido1 {
  grid-area: 1 / 3 / 2 / 4;
}
.user-management-apellido2 {
  grid-area: 1 / 4 / 2 / 5;
}
.user-management-cedula {
  grid-area: 2 / 2 / 3 / 3;
}
.user-management-celular {
  grid-area: 2 / 3 / 3 / 4;
}
.user-management-email {
  grid-area: 2 / 4 / 3 / 5;
}

.user-management-photo {
  grid-area: 3 / 3 / 4 / 4;
}

.user-management-password {
  grid-area: 3 / 2 / 3 / 3;
}

.user-management-submitBtn {
  grid-area: 3 / 4 / 4 / 5;
}

/* Users List */

.users-list {
  width: 100%;
}

.users-list-rows,
.users-list-head {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 6px;
  padding-inline: 20px;
}

.users-list-rows > div,
.users-list-head > div {
  /* border: var(--debug); */
}

.users-list-head h3 {
  font-weight: 600;
  font-size: 1.12rem;
}

/* Users Table Head */
.users-list-image-head {
  grid-area: 1 / 1 / 2 / 2;
}
.users-list-nombre-head {
  grid-area: 1 / 2 / 2 / 3;
}
.users-list-apellido1-head {
  grid-area: 1 / 3 / 2 / 4;
}
.users-list-apellido2-head {
  grid-area: 1 / 4 / 2 / 5;
}
.users-list-celular-head {
  grid-area: 1 / 5 / 2 / 6;
}
.users-list-cedula-head {
  grid-area: 1 / 6 / 2 / 7;
}
.users-list-acciones-head {
  grid-area: 1 / 7 / 2 / 8;
  text-align: center;
  width: 100%;
}

/* Users Rows */

.users-list-rows {
  background-color: var(--clr-white);
  margin-top: 16px;
  height: 3rem;
  box-shadow: 2px 2px 3px var(--clr-grey-25);
  align-items: center;
}

.users-list-image-row {
  grid-area: 1 / 1 / 2 / 2;
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
}

.users-list-nombre-row {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
}
.users-list-apellido1-row {
  grid-area: 1 / 3 / 2 / 4;
}
.users-list-apellido2-row {
  grid-area: 1 / 4 / 2 / 5;
}
.users-list-celular-row {
  grid-area: 1 / 5 / 2 / 6;
}
.users-list-cedula-row {
  grid-area: 1 / 6 / 2 / 7;
}

.users-list-acciones-row {
  grid-area: 1 / 7 / 2 / 8;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
