@import url(/css/main.css);

main {
  display: flex;
  justify-content: center;
  padding: 20px;
  min-height: 90dvh;
  width: 100%;
}

.user-detail {
  display: flex;
  background-color: var(--clr-white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  height: fit-content;
}

.user-image {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 20px;
  max-width: 600px;
  height: auto;
}

.user-image img {
  width: 100%;
  height: auto;
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container span {
  display: block;
  font-size: 0.8rem;
  margin-top: 16px;
  margin-bottom: 6px;
  color: var(--clr-grey-50);
}

.user-nombres,
.user-apellido1 {
  color: var(--clr-black);
  font-size: 1.4rem;
  font-weight: 700;
}

.user-apellido2,
.user-celular,
.user-cedula,
.user-email {
  margin-left: 16px;
  font-size: 1.2rem;
  color: var(--clr-black);
}

.user-email {
  font-weight: 600;
}

.btn-submit {
  background-color: var(--clr-tone01-50);
  color: var(--clr-white);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
}
