@import url(/css/main.css);

:root {
  --ff-sans-normal: Arial, sans-serif;
  --fs-100: 0.6rem;
  --fs-200: 0.8rem;
  --fs-400: 1rem;
  --fs-600: 2rem;
  --clr-white: #f7f7f7;
  --clr-grey-10: #ededed;
  --clr-grey-25: #ccc;
  --clr-grey-50: #aaa;
  --clr-grey-100: #777;
  --clr-black: #333;
  --clr-tone01-10: #a9a6ff;
  --clr-tone01-50: #5651ff;
  --clr-tone01-100: #0800ff;
  --clr-tone01-200: #07029e;
  --svg-fill-color: #07029e;
  --clr-danger: #ff0000;
  --debug: 1px solid red;
}

.main-container {
  width: 100%;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  /* border: var(--debug); */
}

.main-container h2 {
  font-weight: 600;
}

.user-management {
  /* border: var(--debug); */
  width: 100%;
}

.user-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "imagen nombre apellido1 apellido2 celular cedula submitBtn";
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 18px;
  align-items: center;
  /* border: var(--debug); */
}

.user-form input {
  border: none;
  font-size: 1rem;
  padding: 6px;
  border-radius: 6px;
}

.add-user-button {
  width: 100%;
  padding: 6px;
  font-size: 16px;
  background-color: var(--clr-tone01-100);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.user-management-imagen {
  grid-area: 1 / 1 / 3 / 2;
  width: 200px;
  height: 200px;
  background-color: var(--clr-white);
}
.user-management-nombre {
  grid-area: nombre;
}
.user-management-apellido1 {
  grid-area: 1 / 3 / 2 / 4;
}
.user-management-apellido2 {
  grid-area: 1 / 4 / 2 / 5;
}
.user-management-celular {
  grid-area: 2 / 2 / 3 / 3;
}
.user-management-cedula {
  grid-area: 2 / 3 / 3 / 4;
}
.user-management-submitBtn {
  grid-area: 2 / 4 / 3 / 5;
}

/* Users List */

.users-list {
  width: 100%;
}

.users-list-rows,
.users-list-head {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 6px;
  padding-inline: 20px;
  /* border: var(--debug); */
}

.users-list-rows > div,
.users-list-head > div {
  /* border: var(--debug); */
}

.users-list-head h3 {
  font-weight: 600;
  font-size: 1.12rem;
}

/* Users Table Head */
.users-list-image-head {
  grid-area: 1 / 1 / 2 / 2;
}
.users-list-nombre-head {
  grid-area: 1 / 2 / 2 / 3;
}
.users-list-apellido1-head {
  grid-area: 1 / 3 / 2 / 4;
}
.users-list-apellido2-head {
  grid-area: 1 / 4 / 2 / 5;
}
.users-list-celular-head {
  grid-area: 1 / 5 / 2 / 6;
}
.users-list-cedula-head {
  grid-area: 1 / 6 / 2 / 7;
}
.users-list-acciones-head {
  grid-area: 1 / 7 / 2 / 8;
  text-align: center;
  width: 100%;
}

/* Users Rows */

.users-list-rows {
  background-color: var(--clr-white);
  margin-top: 16px;
  height: 3rem;
  box-shadow: 2px 2px 3px var(--clr-grey-25);
  /* align-content: center; */
  align-items: center;
  /* border: var(--debug); */
}

.users-list-image-row {
  grid-area: 1 / 1 / 2 / 2;
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
}

.users-list-nombre-row {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
}
.users-list-apellido1-row {
  grid-area: 1 / 3 / 2 / 4;
}
.users-list-apellido2-row {
  grid-area: 1 / 4 / 2 / 5;
}
.users-list-celular-row {
  grid-area: 1 / 5 / 2 / 6;
}
.users-list-cedula-row {
  grid-area: 1 / 6 / 2 / 7;
}
.users-list-acciones-row {
  grid-area: 1 / 7 / 2 / 8;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 5px;
}

.users-list-acciones-deleteUser,
.users-list-acciones-updateUser {
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.users-list-acciones-deleteUser {
  background-color: var(--clr-danger);
}
.users-list-acciones-updateUser {
  background-color: var(--clr-grey-100);
}
